<div class="dialog-bg">
</div>
<div class="dialog">
  <p>Do you want to take the first turn?</p>
  <div>
    <button class="btn btn-start" data-player="first">Yes</button>
    <button class="btn btn-nonstart" data-player="second">No</button>
  </div>
</div>
