
#board {
  margin: 0 auto;
  position: relative;
}


.cell {
  float: left;
  border-bottom: 2px solid $gray-base;
  border-right: 2px solid $gray-base;

  &:nth-child(n+7) {
    border-bottom: 0;
  }

  &:nth-child(3n) {
    border-right: 0;
  }

  &.free {
    cursor: pointer;
  }
}
